################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
/.vs
/Debug
/Release
/Speedy E.e424a3cb
/x64
/IMAGE08
/IMAGE16
/SOUND
/MOVIE
/DATA
/msvc5/*.ncb
/msvc5/*.opt
/msvc5/sb2decomp/*.plg
/msvc5/sb2decomp/Debug
/msvc5/sb2decomp/Release
Speedy Eggbert 2 Source.vcxproj.user