################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release
/Debug
/x64
/Speedy E.e424a3cb
/DATA
/IMAGE*
/MOVIE
/SOUND
